* {
  box-sizing: border-box;
}

header {
  display: inline;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff0f5;
}

nav {
  background-color: #fff0f5;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
}

nav a {
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.jumbotron {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-size: 15px;
  padding: 100px;
  text-align: center;
  color: black;
}
.jumbotron-content {
  animation: fadeIn 1.5s;
}
.jumbotron h1 {
  color: white;
}
.jumbotron p {
  color: white;
}
.jumbotron img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.story-content {
  padding-right: 1rem;
}
.story-content h3 {
  font-weight: 500;
}
.personal-content h3 {
  font-weight: 500;
}
.personal-content {
  padding-left: 1rem;
}

.main-content {
  margin-top: 3rem;
  align-items: start;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  animation: fadeIn 1.5s;
}
.story-word {
  width: 500px;
  text-align: justify;
}
.story-word p {
  font-weight: 300;
}
.personal-content p {
  width: 500px;
  font-weight: 300;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.footer-content h2 {
  font-weight: 500;
}
.icon {
  animation: fadeIn 3s;
}
#icons1 {
  margin-right: 12rem;
}
#icons3 {
  margin-left: 12rem;
}
.icon i {
  transition: 0.15s;
}
.icon i:hover {
  opacity: 0.7;
}
.icon i:active {
  opacity: 0.5;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 820px) {
  .main-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .story-word {
    width: 300px;
    margin: 0;
  }
  .personal-content {
    padding-left: 0;
    width: 300px;
  }
  .personal-content p {
    width: 300px;
  }
  #icons1 {
    margin-right: 5rem;
  }
  #icons3 {
    margin-left: 5rem;
  }
  .story-content h3 {
    text-align: center;
  }
  .personal-content h3 {
    text-align: center;
  }
}
